.devcontainer
docs/_build
docs/_static
docs/_templates
docs/mirrorverse*
.DS_Store
*.pyc
build/
mirrorverse.egg-info/
*.pkl
*.csv
*.csv.gz
*.db
cwt_query.txt
scratch.ipynb
*.nc
notebooks/
*.aux
*.log
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.drawio.bkp
